<div class="row">
  <div class="col-sm-6 col-md-5 col-lg-4">
    <div class="btn-group" role="group">
      <a class="btn btn-sm btn-default"><%= comment.user.username %></a>
      <% if current_user == comment.user or current_user == comment.post.user %>
       <%= link_to "Delete", [comment.post, comment], method: :delete, class: "btn btn-sm btn-danger", data:{ confirm: "You sure?" } %>
      <% end %>
    </div>
    <div class="well well-sm">
      <%= comment.body %>
    </div>
  </div>
</div>