<div class="row">
<div class="col-sm-6 col-md-5 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= comment.user.username %></h3>
    </div>
    <div class="panel-body">
      <%= comment.body %>
    </div>
  </div>
</div>
  <div class="col-1">
    <% if current_user == comment.user or current_user == comment.post.user %>
     <%= link_to "Delete", [comment.post, comment], method: :delete, class: "btn btn-sm btn-danger", data:{ confirm: "You sure?" } %>
    <% end %>
  </div>
</div>