<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>YeOldePhotoBooth</h1>
    <p>A beautiful land of mystery, danger, over-used filters, and the oxford comma.</p>
    <p><center>
      <%= link_to "Register, if ye dare", new_user_path, { :class => "btn btn-lg btn-primary", :role => "button" }%></center>
    </p>
  </div>

</div>