<%= link_to post, class: "list-group-item" do %>
  <h3><%= post.title %>
    <small><%= post.created_at %>
      <% unless @hide_author %>
        by: <%= post.user.username %>
      <% end %>
    </small>
  </h3>
<% end %>