<h1>Edit</h1>

<% @button = 'Update' %>

<%= render 'form' %>

<br>
<div class="btn-group" role="group" aria-label="test">
  <%= link_to "Cancel", :back, class: "btn btn-warning" %>
  <%= link_to "Delete", @post, class: "btn btn-danger", method: :delete, data: { confirm: "You sure?" } %>
</div>