<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1><%= @post.title %></h1>

  <p class="lead">
  <%= @post.body %>
  </p>
</div>

<% if current_user == @post.user %>
  <%= link_to edit_post_path(@post)  do %>
    <button type="button" class="btn btn-info">Edit</button>
  <% end %>
<% end %>