// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.new_user {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-group {
    margin: 0;

    #user_email, #user_password {
      border-radius: 0;
    }

    #user_username {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    #user_password_confirmation {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      margin-bottom: 10px;
    }

  }
}